pcb/lib/3d/**
!pcb/lib/3d/3rd_party_3d.txt
pcb/lib/footprints/**
!pcb/lib/footprints/3rd_party_footprints.txt
scd30_esp.step
*.lck
*_autosave*
*auto_saved*
*-backups
.venv/*
esphome/.esphome/**
esphome/.gitignore